# vim temp files
*.sw*

# whitepaper temp files
whitepaper/*.aux
whitepaper/*.bcf
whitepaper/*.blg
whitepaper/*.log
whitepaper/*.out
whitepaper/*.pdf
whitepaper/*.run.xml

# db files
miner/db/*
wallet/db/*
